#rvdfm-floating-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 600px;
    padding: 8px 8px;
    color: white;
    background-color: rgba(7, 7, 7, 0.199);
    border: rgba(77, 242, 99, 0.37) 2px dashed;
    border-radius: 50%;
    z-index: 1000;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    opacity: 0.8;
}

#rvdfm-floating-modal:hover {
    border-radius: 10px;
    background-color: rgba(7, 7, 7, 0.85);
    opacity: 1;
}

#rvdfm-floating-modal-header {
    cursor: move;
}

#rvdfm-floating-modal a {
    color: yellow;
}

#rvdfm-floating-modal-header-icon-container {
    position: relative;
}

.badge {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 50%;
    font-size: 1em;
    padding: 3px 6px;
    text-align: center;
    position: absolute;
}

#rvdfm-deleted-count-badge {
    background-color: rgb(207, 17, 17);
    bottom: -5px;
    right: -5px;
}

#rvdfm-saved-count-badge {
    background-color: cornflowerblue;
    bottom: -5px;
    left: -5px;
    border-radius: 5px;
    transform: translateX(-50%);
}

button.rvdfm-question-btn {
    display: inline-block;
    border: none;
    border-radius: 50%;
    background-color: steelblue;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    opacity: 0.5;
    cursor: pointer;
    transition: all .2s;
}

button.rvdfm-question-btn:hover {
    transform: scale(1.2);
    opacity: 1;
}

#rvdfm-floating-modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#rvdfm-floating-modal-header-right {
    display: none;
    min-width: 200px;
}

#rvdfm-floating-modal:hover #rvdfm-floating-modal-header-right {
    display: block;
}

#rvdfm-floating-modal-header-right p {
    margin: 0 0 0 10px;
}

#rvdfm-deleted-container {
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    display: none;
}

#rvdfm-floating-modal:hover #rvdfm-deleted-container {
    max-width: 100%;
    max-height: 300px;
    overflow: auto;
    transition: max-height .5s ease-in-out;

    justify-content: center;
    align-items: center;
    width: 100%;
}

#rvdfm-deleted-list img,
#rvdfm-deleted-list video {
    max-width: 200px;
    max-height: 200px;
}

#rvdfm-clear-deleted-list-btn {
    background-color: rgba(20, 20, 20, 0.658);
    color: rgba(240, 240, 240, 0.801);
    border-width: 0;
    padding: 5px 10px;
    margin: 20px 0;
    cursor: pointer;
}

#rvdfm-clear-deleted-list-btn:hover {
    border-bottom-width: 3px;
    border-color: red;
    color: red;
}

/* Scroll bar: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}